.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.title {
  width: 720px;
}

.card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 720px;
  padding: 2rem;
  margin: 0.5rem;
  border-radius: 0.75rem;
  border: 1px solid rgb(238, 238, 238);
  box-shadow: rgba(0, 0, 0, 0.03) 0px 1px 2px 0px;
}

.card .body {
  width: 100%;
}

.card .link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.description {
  opacity: 0.6;
}

@media screen and (max-width: 1280px) {
  .card {
    width: 100%;
  }
}
